<p class"text-center">Speak to your coach</p>
<form action="/answer" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="query">
  <input type="submit" class="btn btn-danger">
</form>
